# Default ignored files
/../../theory_decision_making /.idea/shelf/
/../../theory_decision_making /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../theory_decision_making /.idea/httpRequests/
# Datasource local storage ignored files
/../../theory_decision_making /.idea/dataSources/
/../../theory_decision_making /.idea/dataSources.local.xml
